<!doctype html>
<html lang="en" ng-app='ShoppingList'>
  <head>
    <title>Shopping List Check Off</title>
		<script src="angular.min.js"></script>
		<script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyListController as toBuyList'>
     <h2>To Buy:</h2>
		 <table class='table table-condenssed table-striped'>
		 	<thead>
		 		<tr>
		 			<th>Item Description</th>
		 		</tr>
		 	</thead>
			<tbody>
				<tr ng-repeat='item in toBuyList.shoppingList'>
					<td>Buy {{ item.quantity }} {{ item.name }} <button class="btn btn-default" ng-click="toBuyList.buyItem(item)"><span class="glyphicon glyphicon-ok"></span> Bought</button></td>
				</tr>
			</tbody>
		 </table>
     <div class="emptyMessage" ng-if="toBuyList.shoppingListEmpty">
			 <span ng-if="toBuyList.shoppingListEmpty">Everything is bought!</span>
		 </div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='AlreadyBoughtListController as boughtList'>
     <h2>Already Bought:</h2>
		 <table class='table table-condenssed table-striped'>
		 	<thead>
		 		<tr>
		 			<th>Item Description</th>
		 		</tr>
		 	</thead>
			<tbody>
				<tr ng-repeat="item in boughtList.items">
					<td>Bought {{ item.quantity }} {{ item.name }} </td>
				</tr>
			</tbody>
		 </table>
     <div class="emptyMessage" ng-model="boughtList">
			 <span ng-if="boughtList.boughtListEmpty">Nothing bought yet.</span>
	 	 </div>
    </div>
  </div>
</div>

</body>
</html>
